<!doctype html>
<html class="no-js" lang="ru">

<head>
  <meta charset="utf-8">
  <title>Заголовок сайта</title>
  <meta name="description" content="Описание сайта">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <meta name="theme-color" content="#fafafa">

  <link rel="preload" href="<%= require('./fonts/Exo2-Regular.ttf').default %>" as="font" type="font/ttf" crossorigin>
  <link rel="preload" href="<%= require('./fonts/TrainOne-Regular.ttf').default %>" as="font" type="font/ttf"
    crossorigin>

  <style>
    @font-face {
      font-display: swap;
      font-family: 'Exo 2';
      src: url("<%= require('./fonts/Exo2-Regular.ttf').default %>");
    }

    @font-face {
      font-display: swap;
      font-family: 'Train One';
      src: url("<%= require('./fonts/TrainOne-Regular.ttf').default %>");
    }
  </style>
</head>

<body>

  <header class="border-bottom">
    <div id="video-container">
      <video autoplay id="background-video" loop muted playsinline
        poster="<%= require('./images/poster.jpg').default %>" preload="auto">
        <source src="<%= require('./video/v9.webm').default %>" type="video/webm" />
        <source src="<%= require('./video/H.264.mp4').default %>" type="video/mp4" />
      </video>
    </div>

    <nav class="border-bottom" id="top-menu">
      <input aria-hidden="true" type="checkbox" id="menu-switcher">
      <div aria-hidden="true" id="menu-button">
        <div class="top left line"></div>
        <div class="top right line"></div>
        <div class="center line"></div>
        <div class="bottom left line"></div>
        <div class="bottom right line"></div>
      </div>

      <ul id="top-menu_list">
        <li class="top-menu_item">
          <a class="link" href="#services">
            <img alt="значок соединения" class="link-icon white-icon" height="24" loading="lazy"
              src="<%= require('./images/icons/connection.svg').default %>" width="24" />

            <span class="link-text">Услуги</span>
          </a>
        </li>

        <li class="top-menu_item">
          <a class="link" href="#about">
            <img alt="значок портрета" class="link-icon white-icon" height="24" loading="lazy"
              src="<%= require('./images/icons/account.svg').default %>" width="24" />

            <span class="link-text">Обо мне</span>
          </a>
        </li>

        <li class="top-menu_item">
          <a class="link" href="#contacts">
            <img alt="визитная карточка" class="link-icon white-icon" height="24" loading="lazy"
              src="<%= require('./images/icons/card-account-phone.svg').default %>" width="24" />

            <span class="link-text">Контакты</span>
          </a>
        </li>
      </ul>
    </nav>

    <div class="top-right wire"></div>

    <h1>
      <a class="header-link" href="#top-menu">Название</a>
    </h1>

    <div class="left center wire"></div>

    <a class="link phone-link" href="tel:+375297890285" id="phone-link-1">
      <img alt="логотип МТС" class="link-icon white-icon" height="32" loading="lazy"
        src="<%= require('./images/icons/MTS_logo.svg').default %>" width="128" />

      <span class="link-text">+375 29 789 02 85</span>
    </a>

    <div class="right center wire"></div>

    <a class="link phone-link" href="tel:+375297899098" id="phone-link-2">
      <img alt="логотип A1" class="link-icon white-icon" height="24" loading="lazy"
        src="<%= require('./images/icons/A1_logo.webp').default %>" width="24" />

      <span class="link-text">+375 29 789 90 98</span>
    </a>

    <div class="bottom-left wire"></div>
  </header>

  <main>
    <article class="border-bottom" id="services">
      <h2 class="opacity parallax sec-header to-anim">Услуги</h2>

      <section class="parallax to-anim opacity">
        <p>Затеяли <strong>ремонт в квартире</strong>, а электрик пришел с бельевой веревкой и рассказывает, что
          перенесет Вашу
          <strong>оптическую розетку</strong> самостоятельно?
        </p>

        <p>Играете в online-игру или смотрите захватывающий фильм, а в самый интересный момент Ваш любимый питомец
          приносит кусок кабеля в зубах?</p>
      </section>

      <img alt="человек в ярости переворачивает стол" class="to-anim" height="361"
        src="<%= require('./images/table-meme.jpg').default %>" width="400" />

      <div class="left-center wire"></div>
      <div class="right-center wire"></div>

      <section class="parallax to-anim opacity">
        <p>В службе технической поддержки Вам говорят: «Перезагрузите модем… Хммм… Не помогло… Мы придем к Вам на
          рассвете третьего дня после первой четверти кровавой луны - будьте дома и не ведите детей в школу, не
          выходите
          в магазин, увольтесь с работы…» А после ожидания в состоянии каменного века к Вам приходит представитель
          оператора и говорит: «Я Вам тут не помогу. Вам надо подождать, пока приедет другая бригада»?</p>
      </section>

      <img alt="человек пожимает плечами" class="to-anim" height="400"
        src="<%= require('./images/shrink-meme.jpg').default %>" width="400" />

      <div class="bottom-left wire"></div>
      <div class="bottom-right wire"></div>

      <p class="appeal to-anim opacity">Во избежание возникновения подобных не вымышленных ситуаций <i>обращайтесь к
          нам!</i>
      </p>

      <div class="top-left wire"></div>
      <div class="top-right wire"></div>

      <section class="parallax to-anim">
        <h3>Мы осуществляем:</h3>

        <ul>
          <li><strong>перенос оптических розеток;</strong></li>
          <li><strong>восстановление оптического кабеля;</strong></li>
          <li><strong>прокладка витой пары;</strong></li>
          <li><strong>настройка Wi-Fi;</strong></li>
          <li>а также <strong>сверлим, пилим и штробим</strong> при необходимости.</li>
        </ul>

        <p>Выезд <strong>в удобное для Вас время</strong> в пределах <strong>г.Гродно и Гродненского района</strong>,
          <strong>демократичные цены</strong> и <strong>высокое качество
            услуг</strong>. <strong>Любая удобная форма оплаты</strong>.
        </p>

        <h3>Для организаций осуществляем:</h3>

        <ul>
          <li><strong>прокладка оптоволоконного кабеля;</strong></li>
          <li><strong>монтаж оптических оконечных кабельных устройств</strong>любого типа и сложности.</li>
        </ul>

        <p>Все работы выполняются <strong>в кратчайшие сроки</strong> и в строгом соответствии с действующими
          техническими кодексами устоявшихся практик и технологическими картами. Возможен <strong>выезд в любую точку
            РБ</strong>.</p>
      </section>

      <picture>
        <source srcset="<%= require('./images/diplomas/001.jpg').images[0].path %> 320w" media="(max-width: 352px)">
        <source srcset="<%= require('./images/diplomas/001.jpg').images[1].path %> 480w" media="(max-width: 512px)">
        <source srcset="<%= require('./images/diplomas/001.jpg').images[2].path %> 640w" media="(max-width: 640px)">
        <source srcset="<%= require('./images/diplomas/001.jpg').images[0].path %> 320w"
          media="(max-width: calc(320px * 2 + 82px))">
        <!-- image-width + 2 * padding + column-gap -->
        <source srcset="<%= require('./images/diplomas/001.jpg').images[1].path %> 480w"
          media="(max-width: calc(480px * 2 + 82px))">
        <source srcset="<%= require('./images/diplomas/001.jpg').images[2].path %> 640w"
          media="(max-width: calc(640px * 2 + 82px))">
        <img alt="Свидетельство о регистрации Третяка Евгения как индивидуального предпринимателя" height="1080"
          loading="lazy" src="<%= require('./images/diplomas/001.jpg').images[3].path %>"
          srcset="<%= require('./images/diplomas/001.jpg').images[3].path %>" class="to-anim" width="785">
      </picture>
    </article>

    <article class="border-bottom" id="about">
      <h2 class="parallax sec-header to-anim">Немного о себе</h2>

      <p class="about-text parallax to-anim">Опыт работы в отрасли – 10 лет. Участие и призовые места в множестве
        конкурсов и
        чемпионатах профессионального
        мастерства «Монтаж и эксплуатация ВОЛС» на областном, республиканском и международном уровнях.</p>

      <div id="carousel">
        <input aria-hidden="true" checked class="carousel-radio" loading="lazy" name="carousel" type="radio">
        <picture class="carousel-picture">
          <source srcset="<%= require('./images/diplomas/002.jpg').images[0].path %> 320w" media="(max-width: 352px)">
          <source srcset="<%= require('./images/diplomas/002.jpg').images[1].path %> 480w" media="(max-width: 512px)">
          <source srcset="<%= require('./images/diplomas/002.jpg').images[2].path %> 640w" media="(max-width: 640px)">
          <source srcset="<%= require('./images/diplomas/002.jpg').images[0].path %> 320w"
            media="(max-width: calc(320px * 2 + 82px))">
          <source srcset="<%= require('./images/diplomas/002.jpg').images[1].path %> 480w"
            media="(max-width: calc(480px * 2 + 82px))">
          <source srcset="<%= require('./images/diplomas/002.jpg').images[2].path %> 640w"
            media="(max-width: calc(640px * 2 + 82px))">
          <img alt='Диплом Третяка Евгения за третье место в конкурсе "Лучшая бригада Белтелеком"'
            class="carousel-img to-anim" height="1080" loading="lazy"
            src="<%= require('./images/diplomas/002.jpg').images[3].path %>"
            srcset="<%= require('./images/diplomas/002.jpg').images[3].path %> 785w" width="785">
        </picture>

        <input aria-hidden="true" class="carousel-radio" loading="lazy" name="carousel" type="radio">
        <picture class="carousel-picture">
          <source srcset="<%= require('./images/diplomas/003.jpg').images[0].path %> 320w" media="(max-width: 352px)">
          <source srcset="<%= require('./images/diplomas/003.jpg').images[1].path %> 480w" media="(max-width: 512px)">
          <source srcset="<%= require('./images/diplomas/003.jpg').images[2].path %> 640w" media="(max-width: 640px)">
          <source srcset="<%= require('./images/diplomas/003.jpg').images[0].path %> 320w"
            media="(max-width: calc(320px * 2 + 82px))">
          <source srcset="<%= require('./images/diplomas/003.jpg').images[1].path %> 480w"
            media="(max-width: calc(480px * 2 + 82px))">
          <source srcset="<%= require('./images/diplomas/003.jpg').images[2].path %> 640w"
            media="(max-width: calc(640px * 2 + 82px))">
          <img alt='Диплом Третяка Евгения за второе место второго открытого евразийского чемпионата'
            class="carousel-img to-anim" height="1080" loading="lazy"
            src="<%= require('./images/diplomas/003.jpg').images[3].path %>"
            srcset="<%= require('./images/diplomas/003.jpg').images[3].path %> 785w" width="785">
        </picture>

        <input aria-hidden="true" class="carousel-radio" loading="lazy" name="carousel" type="radio">
        <picture class="carousel-picture">
          <source srcset="<%= require('./images/diplomas/004.jpg').images[0].path %> 320w" media="(max-width: 352px)">
          <source srcset="<%= require('./images/diplomas/004.jpg').images[1].path %> 480w" media="(max-width: 512px)">
          <source srcset="<%= require('./images/diplomas/004.jpg').images[2].path %> 640w" media="(max-width: 640px)">
          <source srcset="<%= require('./images/diplomas/004.jpg').images[0].path %> 320w"
            media="(max-width: calc(320px * 2 + 82px))">
          <source srcset="<%= require('./images/diplomas/004.jpg').images[1].path %> 480w"
            media="(max-width: calc(480px * 2 + 82px))">
          <source srcset="<%= require('./images/diplomas/004.jpg').images[2].path %> 640w"
            media="(max-width: calc(640px * 2 + 82px))">
          <img alt='Диплом конкурсанта Третяка Евгения шестого национального чемпионата' class="carousel-img to-anim"
            height="1080" loading="lazy" src="<%= require('./images/diplomas/004.jpg').images[3].path %>"
            srcset="<%= require('./images/diplomas/004.jpg').images[3].path %> 785w" width="785">
        </picture>

        <input aria-hidden="true" class="carousel-radio" loading="lazy" name="carousel" type="radio">
        <picture class="carousel-picture">
          <source srcset="<%= require('./images/diplomas/005.jpg').images[0].path %> 320w" media="(max-width: 352px)">
          <source srcset="<%= require('./images/diplomas/005.jpg').images[1].path %> 480w" media="(max-width: 512px)">
          <source srcset="<%= require('./images/diplomas/005.jpg').images[2].path %> 640w" media="(max-width: 640px)">
          <source srcset="<%= require('./images/diplomas/005.jpg').images[0].path %> 320w"
            media="(max-width: calc(320px * 2 + 82px))">
          <source srcset="<%= require('./images/diplomas/005.jpg').images[1].path %> 480w"
            media="(max-width: calc(480px * 2 + 82px))">
          <source srcset="<%= require('./images/diplomas/005.jpg').images[2].path %> 640w"
            media="(max-width: calc(640px * 2 + 82px))">
          <img alt='Награда Третяка Евгения за многолетний добросовестный труд' class="carousel-img to-anim"
            height="1080" loading="lazy" src="<%= require('./images/diplomas/005.jpg').images[3].path %>"
            srcset="<%= require('./images/diplomas/005.jpg').images[3].path %> 785w" width="785">
        </picture>

        <input aria-hidden="true" class="carousel-radio" loading="lazy" name="carousel" type="radio">
        <picture class="carousel-picture">
          <source srcset="<%= require('./images/diplomas/006.jpg').images[0].path %> 320w" media="(max-width: 352px)">
          <source srcset="<%= require('./images/diplomas/006.jpg').images[1].path %> 480w" media="(max-width: 512px)">
          <source srcset="<%= require('./images/diplomas/006.jpg').images[2].path %> 640w" media="(max-width: 640px)">
          <source srcset="<%= require('./images/diplomas/006.jpg').images[0].path %> 320w"
            media="(max-width: calc(320px * 2 + 82px))">
          <source srcset="<%= require('./images/diplomas/006.jpg').images[1].path %> 480w"
            media="(max-width: calc(480px * 2 + 82px))">
          <source srcset="<%= require('./images/diplomas/006.jpg').images[2].path %> 640w"
            media="(max-width: calc(640px * 2 + 82px))">
          <img alt='Сертификат участника Третяка Евгения четвертого национального чемпионата'
            class="carousel-img to-anim" height="1080" loading="lazy"
            src="<%= require('./images/diplomas/006.jpg').images[3].path %>"
            srcset="<%= require('./images/diplomas/006.jpg').images[3].path %> 785w" width="785">
        </picture>

        <input aria-hidden="true" class="carousel-radio" loading="lazy" name="carousel" type="radio">
        <picture class="carousel-picture">
          <source srcset="<%= require('./images/diplomas/007.jpg').images[0].path %> 320w" media="(max-width: 352px)">
          <source srcset="<%= require('./images/diplomas/007.jpg').images[1].path %> 480w" media="(max-width: 512px)">
          <source srcset="<%= require('./images/diplomas/007.jpg').images[2].path %> 640w" media="(max-width: 640px)">
          <source srcset="<%= require('./images/diplomas/007.jpg').images[0].path %> 320w"
            media="(max-width: calc(320px * 2 + 82px))">
          <source srcset="<%= require('./images/diplomas/007.jpg').images[1].path %> 480w"
            media="(max-width: calc(480px * 2 + 82px))">
          <source srcset="<%= require('./images/diplomas/007.jpg').images[2].path %> 640w"
            media="(max-width: calc(640px * 2 + 82px))">
          <img alt='Диплом Третяка Евгения за победу в республиканском конкурсе "Лучшая бригада Белтелеком"'
            class="carousel-img to-anim" height="1080" loading="lazy"
            src="<%= require('./images/diplomas/007.jpg').images[3].path %>"
            srcset="<%= require('./images/diplomas/007.jpg').images[3].path %> 785w" width="785">
        </picture>

        <input aria-hidden="true" class="carousel-radio" loading="lazy" name="carousel" type="radio">
        <picture class="carousel-picture">
          <source srcset="<%= require('./images/diplomas/008.jpg').images[0].path %> 320w" media="(max-width: 352px)">
          <source srcset="<%= require('./images/diplomas/008.jpg').images[0].path %> 480w" media="(max-width: 512px)">
          <source srcset="<%= require('./images/diplomas/008.jpg').images[0].path %> 640w" media="(max-width: 640px)">
          <source srcset="<%= require('./images/diplomas/008.jpg').images[0].path %> 320w"
            media="(max-width: calc(320px * 2 + 82px))">
          <source srcset="<%= require('./images/diplomas/008.jpg').images[0].path %> 480w"
            media="(max-width: calc(480px * 2 + 82px))">
          <source srcset="<%= require('./images/diplomas/008.jpg').images[0].path %> 640w"
            media="(max-width: calc(640px * 2 + 82px))">
          <img alt='Диплом Третяка Евгения за победу в областном конкурсе "Лучшая бригада Белтелеком"'
            class="carousel-img to-anim" height="1080" loading="lazy"
            src="<%= require('./images/diplomas/008.jpg').images[3].path %>"
            srcset="<%= require('./images/diplomas/008.jpg').images[3].path %> 785w" width="785">
        </picture>

        <input aria-hidden="true" class="carousel-radio" loading="lazy" name="carousel" type="radio">
        <picture class="carousel-picture">
          <source srcset="<%= require('./images/diplomas/009.jpg').images[0].path %> 320w" media="(max-width: 352px)">
          <source srcset="<%= require('./images/diplomas/009.jpg').images[1].path %> 480w" media="(max-width: 512px)">
          <source srcset="<%= require('./images/diplomas/009.jpg').images[2].path %> 640w" media="(max-width: 640px)">
          <source srcset="<%= require('./images/diplomas/009.jpg').images[0].path %> 320w"
            media="(max-width: calc(320px * 2 + 82px))">
          <source srcset="<%= require('./images/diplomas/009.jpg').images[1].path %> 480w"
            media="(max-width: calc(480px * 2 + 82px))">
          <source srcset="<%= require('./images/diplomas/009.jpg').images[2].path %> 640w"
            media="(max-width: calc(640px * 2 + 82px))">
          <img alt='Диплом Третяка Евгения за третье место в республиканском конкурсе профессионального мастерства'
            class="carousel-img to-anim" height="1080" loading="lazy"
            src="<%= require('./images/diplomas/009.jpg').images[3].path %>"
            srcset="<%= require('./images/diplomas/009.jpg').images[3].path %> 785w" width="785">
        </picture>

        <input aria-hidden="true" class="carousel-radio" loading="lazy" name="carousel" type="radio">
        <picture class="carousel-picture">
          <source srcset="<%= require('./images/diplomas/010.jpg').images[0].path %> 320w" media="(max-width: 352px)">
          <source srcset="<%= require('./images/diplomas/010.jpg').images[1].path %> 480w" media="(max-width: 512px)">
          <source srcset="<%= require('./images/diplomas/010.jpg').images[2].path %> 640w" media="(max-width: 640px)">
          <source srcset="<%= require('./images/diplomas/010.jpg').images[0].path %> 320w"
            media="(max-width: calc(320px * 2 + 82px))">
          <source srcset="<%= require('./images/diplomas/010.jpg').images[1].path %> 480w"
            media="(max-width: calc(480px * 2 + 82px))">
          <source srcset="<%= require('./images/diplomas/010.jpg').images[2].path %> 640w"
            media="(max-width: calc(640px * 2 + 82px))">
          <img
            alt='Диплом Третяка Евгения за первое место в конкурсе "Монтаж и эксплуатация волоконно-оптических линий связи"'
            class="carousel-img to-anim" height="1080" loading="lazy"
            src="<%= require('./images/diplomas/010.jpg').images[3].path %>"
            srcset="<%= require('./images/diplomas/010.jpg').images[3].path %> 785w" width="785">
        </picture>

        <img alt="стрелка влево" aria-hidden="true" class="arrow icon white-icon" height="24" loading="lazy"
          src="<%= require('./images/icons/arrow-left-drop-circle-outline.svg').default %>" width="24" />
        <img alt="стрелка вправо" aria-hidden="true" class="arrow icon white-icon" height="24" loading="lazy"
          src="<%= require('./images/icons/arrow-left-drop-circle-outline.svg').default %>" width="24" />
      </div>
    </article>
  </main>

  <footer id="contacts">
    <h2 class="footer-header opacity sec-header to-anim">
      <span class="footer-header-text">Контактная информация</span>
    </h2>

    <p class="opacity to-anim" id="contact-name">Евгений</p>

    <ul class="to-anim" id="contacts-list">
      <li class="contact">
        <span class="contact-text">телефон</span>
      </li>

      <li class="contact">
        <span class="contact-text">телеграм</span>
      </li>

      <li class="contact">
        <span class="contact-text">вайбер</span>
      </li>

      <li class="contact">
        <span class="contact-text">емейл</span>
      </li>
    </ul>
  </footer>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. 
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script> -->
</body>

</html>